extends index

block main
    script(src='/javascripts/charts.js')
    div(style="display:none" class="data") #{data}
    div(class="polls-container container-sm")
        div(class="row justify-content-center")
            h1= state
        div(class="row justify-content-center")
            div(class="canvas-container col")
                canvas(class="chart-canvas" id="poll-chart")
        div(class="row")
            div(class="col chart-slider-container")
                div(id="chart-slider")
            div(style="display:none" id="poll-grade") D-
        div(class="row")
            div(class="table-header justify-content-center row")
                h2(class ="sub-header justify-content-center") #{state} Polls
            div(class="table-responsive")
                table(class="table table-striped table-sm")
                    thead
                        tr
                            th Pollster
                            th 538 Grade
                            th Date
                            th Biden
                            th Trump
                    tbody(id="poll-table-body")
                        each poll in polls.reverse()
                            tr
                                td #{poll.pollster}
                                td(class="row-grade") #{poll.grade}
                                td #{poll.end_date}
                                td #{poll.Biden}
                                td #{poll.Trump}
